.post {
  position: relative;
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.18) !important;
  margin-bottom: 15px;
}

.post section {
  padding: 1.5em;
}

.post h2,
.post h4,
.post h5 {
  margin: 0;
  padding: 0;
}
.post h5 {
  font-family: 'Open Sans' !important;
  font-weight: 600 !important;
  font-size: 12px !important;
  letter-spacing: 1px !important;
  color: #7d97ad !important;
  text-transform: uppercase !important;
  margin: auto;
  margin-bottom: 1rem;
}

.post .votes {
  float: left;
}
.post .actions {
  float: right;
}

.post .content {
  border-bottom: solid 1px #dbe2e8;
  cursor: pointer;
  transition: all 0.3s ease;
}

.post .content:hover {
  background: rgba(219, 226, 232, 0.4);
}
